@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

*{
    box-sizing: border-box;
    margin: 7px
    
    
}

 img main{
    justify-content: center;
    align-items: center;
}

body{
    height: 95vh;
    background-color: aliceblue;
    font-family: "Fjalla One", serif;
    display: flex;
    flex-direction: column;

}

header {
    font-size: 40px;
    display: flex;
    background-color: rgb(212, 208, 191);
    padding: 1em 0 1em 0;
    border-radius: 15px;
    border-bottom: double 2px black;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    flex: 1;
}

main{
    background-color: white;
    padding: 1em 1em;
    flex:60%;
    border-radius: 15px;

}
.right div{
    border-bottom: solid black 1px;

}
.right .z{
    border-bottom: none;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    padding: 1em 0 1em 0;
    flex: 1 30%;
    border-radius: 15px;
}

footer{
    background-color: rgb(99, 99, 99);
    padding: 4em;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    color: white;
    
}
footer p{
    font-style: italic;
}
footer a{
    color: white;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}

@media all and (max-width: 550px){
    .main{
        flex-direction: column;
    }
    main{
        padding: 5em 0 5em 0;
    }
    img{
        width: 95%;
        height: auto;
    }
    textarea{
        width: 80%;
    }
}